<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container"><br/>
    {% if  current_user.is_authenticated() %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h1>Add Course</h1></div>
            <div class="panel-body">
                <form action="" method="post">
                    <p></p>
                    <input type="text" class="form-control" style="width:30%" placeholder="Course ID" name="course_id" value="{{
                            request.form.course_id }}"><br/>
                    <input type="text" class="form-control" style="width:30%" placeholder="Credits" name="credits" value="{{
                            request.form.credits }}"><br/>
                    <input type="text" class="form-control" style="width:30%" placeholder="Course Name" name="course_name" value="{{
                            request.form.course_name }}"><br/>
                    <input type="text" class="form-control" style="width:30%" placeholder="Instructor ID" name="id" value="{{
                            request.form.id }}"><br/>


                    <input class="btn btn-success" type="submit" value="Submit">
                    <a href="/control/admin" class="btn btn-default">Cancel</a>
                </form>
            </div>
        </div>
        </div>
    {% endif %}
</body>
</html>