<!DOCTYPE html>
<html>
<head>
    <title>Enroll Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container"><br/>
    {% if  current_user.is_authenticated() %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h1>Enroll Student</h1></div>
            <br>
            <div class="panel-body">
                <form action="" method="post">
                    <input type="text" class="form-control" style="width:30%" placeholder="Student ID" name="studID" value="{{
                            request.form.studID }}"><br/>
                    <input class="btn btn-success" type="submit" value="Submit">
                    <a href="/control/instructor_cp" class="btn btn-default">Cancel</a>
                </form>
            </div>
        </div>
        </div>
    {% endif %}
</body>
</html>